@import '../../styles/base';

.ItemTalk {
  &-day {
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
    color: $color-brand;
    align-items: center;
    padding: 0 $gap-6;
    &__Count {
      & p {
        font-size: 24px;
        font-weight: 400;
        font-family: $font-primary;
      }
    }
    &__Calendar {
      display: flex;
      justify-content: flex-end;
      & p {
        font-size: 18px;
        font-family: $font-primary;
        font-weight: 400;
      }
      & label {
        display: flex;
        align-items: center;
      }
      & input {
        width: fit-content;
        background-color: $color-white;
        color: $color-black;
        height: 29px;
        border-radius: $gap-1;
        margin-left: $gap-4;
        padding: 0 18px;
      }
    }
    &__Actions {
      display: flex;
      justify-content: flex-end;
      & p {
        margin-left: 32px;
        font-size: 18px;
        font-family: $font-primary;
        font-weight: 400;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
