//Spacing
$gap-1: 8px;
$gap-2: $gap-1 + 8px;
$gap-3: $gap-2 + 8px;
$gap-4: $gap-3 + 8px;
$gap-5: $gap-4 + 8px;
$gap-6: $gap-5 + 24px;

@mixin raleway($size) {
  @if $size == 'sm' {
    font-size: 24px;
  }
  @if $size == 'md' {
    font-size: 36px;
  }
  @if $size == 'lg' {
    font-size: 48px;
  }
  @if $size == 'xg' {
    font-size: 64px;
  }
  @if $size == 'xxg' {
    font-size: 72px;
  }
}
@mixin roboto($size) {
  @if $size == 'sm' {
    font-size: 24px;
  }
  @if $size == 'md' {
    font-size: 36px;
  }
  @if $size == 'lg' {
    font-size: 48px;
  }
  @if $size == 'xg' {
    font-size: 64px;
  }
}

@mixin section-full {
  max-width: 1440px;
  margin: 0 auto;
}
@mixin section {
  max-width: 1200px;
  margin: 0 auto;
}
.section-title {
  text-align: center;
  @include raleway('lg');
  @include section;
}
.section-subtitle {
  text-align: center;
  @include raleway('lg');
  @include section;
  margin-top: $gap-5;
  margin-bottom: $gap-5;
}
