@import "../../styles/base";

.editEvent {
  max-height: 100vh;
  width: 100%;
  padding: 32px;
  h2 {
    color: $color-brand;
    font-family: $font-primary;
    font-size: 36px;
    margin: 0px;
    margin-bottom: $gap-4;
  }
  &-container {
    display: grid;
    min-height: 85vh;
    gap: 28px;
    grid-template-columns: 1fr 1fr;
    @include cardDasboard;
    &__left {
      padding-right: $gap-6;
      padding-right: 64px;
      display: flex;
      flex-flow: wrap;
      align-content: space-between;
      &-edit {
        width: 100%;
        & ul {
          padding-left: 32px;
          font-size: 20px;
        }
        & li {
          display: flex;
          justify-content: space-between;
        }
        & p {
          color: $color-secondary;
        }
        & span {
          color: $color-secondary;
          margin: 20px 0;
        }
      }
    }
    &__right {
      &-collaborates {
        & ul {
          background-color: $color-white;
          border-radius: $gap-2;
          max-height: 71vh;
          min-height: 70vh;
          overflow: scroll;
        }
      }
      &-empty {
        width: 100%;
        height: fit-content;
        padding: 50px;
        text-align: center;
        font-size: 24px;
        color: $color-brand;
      }
      &-btn {
        background-color: $color-brand;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: $Shadow-2;
        position: absolute;
        right: 70px;
        bottom: 90px;
      }
    }
  }
}

.check-action {
  @include checkButtons;
}
