@import "../../styles/base";

.editDay {
  max-height: 100vh;
  width: 100%;
  padding: 32px;
  h2 {
    color: $color-brand;
    font-family: $font-primary;
    font-size: 36px;
    margin: 0px;
    margin-bottom: $gap-4;
  }
  & ul {
    text-align: center;
  }
  &-NewDay {
    margin-left: 32px;
    font-size: 18px;
    font-family: $font-primary;
    font-weight: 400;
    color: $color-brand;
    text-decoration: underline;
    cursor: pointer;
  }
  &-container {
    h2 {
      font-size: 24px;
    }
    display: grid;
    min-height: 85vh;
    gap: 28px;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 1fr 72px;
    @include cardDasboard;
  }
  &-day {
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    color: $color-brand;
    align-items: center;
    padding: 0 $gap-6;
    &__Count {
      & p {
        font-size: 24px;
        font-weight: 400;
        font-family: $font-primary;
      }
    }
    &__Calendar {
      display: flex;
      justify-content: flex-end;
      & p {
        font-size: 18px;
        font-family: $font-primary;
        font-weight: 400;
      }
      & label {
        display: flex;
        align-items: center;
      }
      & input {
        width: fit-content;
        background-color: $color-white;
        color: $color-black;
        height: 29px;
        border-radius: $gap-1;
        margin-left: $gap-4;
        padding: 0 18px;
      }
    }
    &__Actions {
      display: flex;
      justify-content: flex-end;
      & p {
        margin-left: 32px;
        font-size: 18px;
        font-family: $font-primary;
        font-weight: 400;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .check-action {
    @include checkButtons;
    justify-content: flex-end;
  }
}

@media (max-width: 500px) {
  .editDay {
    max-height: 100%;
    width: 100%;
    padding: 16px;
    padding-top: 32px;
    &-container {
      grid-template-rows: 115px 1fr 72px;
    }
    h2 {
      font-size: 30px;
    }
  }
}
