//here goes variables, mixins, and any utility classes.

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap');
@import './mixins';
/*--------------$Variables$-----------------*/

//Colors
$color-white: #fafafa;
$color-white-light: #ffffff;
$color-black: #1d1d1d;
$color-brand: #f57569;
$color-primary: #194c85;
$color-primary-darken: #0c315c;
$color-secondary: #67c1c2;
$color-neutral: #c9a79d;
$color-success: #43c797;
$color-error: #fc1d1d;
$color-gray: #bdbdbd;
$color-text: $color-black;
$color-inactive: rgba(14, 19, 24, 0.6);
//Typography

$font-primary: 'Noto Sans', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

@mixin title($size) {
  font-size: 32px;
  @if $size == 'lg' {
    font-size: 48px;
  }
  @if $size == 'sm' {
    font-size: 24px;
  }

  font-family: $font-primary;
  font-weight: 700;
}

@mixin subtitle($size) {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 24px;
  @if $size == 'lg' {
    font-size: 32px;
  }
  @if $size == 'sm' {
    font-size: 16px;
    font-weight: 400px;
  }
}

@mixin captions($size: '') {
  font-family: $font-secondary;
  font-size: 12px;
  @if $size == 'lg' {
    font-weight: 600;
  } @else {
    font-weight: 400;
  }
}
@mixin paragraph($size: '') {
  font-family: $font-secondary;
  @if $size == 'lg' {
    font-weight: 700;
    font-size: 16px;
  } @else {
    font-weight: 400;
    font-size: 14px;
  }
}
//Spacing

$gap-1: 8px;
$gap-2: $gap-1 + 8px;
$gap-3: $gap-2 + 8px;
$gap-4: $gap-3 + 8px;
$gap-5: $gap-4 + 8px;
$gap-6: $gap-5 + 24px;

//Box-Shadows
$Shadow-1: 0px 0px 22px
  rgba(
    $color: #000000,
    $alpha: 0.08,
  );
$Shadow-2: 0px 0px 22px
  rgba(
    $color: #f57569,
    $alpha: 1,
  );

// Header

$header-height: 100px;

// Footer

$footer-height: 64px;
