// here goes reusable components
.form-field {
  position: relative;
  height: 36px;
  width: 100%;
  margin: $gap-4 0;
  color: $color-inactive;
  border-bottom: 1px solid $color-black;
  &--active {
    border-bottom: 1px solid $color-primary;
  }
  &--error {
    border-bottom: 1px solid red;
  }
  &__label {
    position: absolute;
    top: 25%;
    left: $gap-1;
    z-index: 1;
  }
  &__error {
    @include captions('sm');
    padding-left: $gap-1;
    margin-top: 5px;
    color: red;
  }
  &__label--active {
    position: absolute;
    top: -1em;
    transition: 0.1s;
    @include captions('lg');
  }
  input {
    position: relative;
    z-index: 2;
    background-color: transparent;
    padding-left: $gap-1;
    @include paragraph('lg');
  }
}

.formNewEvent-field {
  position: relative;
  height: 36px;
  width: 100%;
  margin: $gap-4 0;
  color: $color-inactive;
  border-bottom: 1px solid $color-black;
  &--active {
    border-bottom: 1px solid $color-primary;
  }
  &--error {
    border-bottom: 1px solid red;
  }
  &__label {
    position: absolute;
    top: 25%;
    left: $gap-1;
    z-index: 1;
  }
  &__error {
    @include captions('sm');
    padding-left: $gap-1;
    margin-top: 5px;
    color: red;
  }
  &__label--active {
    position: absolute;
    top: -1em;
    transition: 0.1s;
    @include captions('lg');
  }
  input {
    position: relative;
    z-index: 2;
    background-color: transparent;
    padding-left: $gap-1;
    @include paragraph('lg');
  }
}

.button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: $color-brand;
  color: $color-white;
  @include paragraph('lg');
  &--lg {
    height: 52px;
    width: 225px;
  }
  &--shape {
    border-radius: 50px 0px;
  }
  &--disabled {
    color: $color-inactive;
  }
}

.footer {
  height: $footer-height;
  background-color: $color-primary;
  color: $color-white;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    div {
      padding: 0 1em;
    }
  }
  &__left {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
}
