$color-1: #ffcd3c;
$color-2: #3b6978;
$color-3: #ffcd3c;
$color-4: gray;
$color-5: #4f4f4f;
$color-6: #222831;

.main-title {
  margin-top: $gap-4;
  margin-bottom: $gap-4;
  color: $color-2;
}
.button-templates {
  background-color: $color-1;
  color: $color-6;
}
$header-height: 100px;
$color-white: white;
$template: 'two';
