@import '../../../main.scss'; //this file will be wheter EventTemplates/main.scss or EventTemplates/main.scss

@import '../../styles.module.scss'; //this file will be wheter EventTemplates/main.scss or EventTemplates/main.scss

.meet {
  display: grid;
  place-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 4px solid $color-3;
  padding-bottom: $gap-5;
  margin-bottom: $gap-5;
  @if $template == 'two' {
    @include section;
    margin-bottom: $gap-5;
    display: flex;
    justify-content: center;
    border-bottom: 0px;
  }
  &--inverse {
    flex-direction: row-reverse;
  }
  &__left {
    @if $template == 'two' {
      height: 305px;
      width: 20%;
    }
  }
  &__right {
    display: grid;
    grid-auto-rows: 50px 50px auto;
    place-items: center;
    width: 100%;
    @if $template == 'two' {
      width: 80%;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
    }
    h2 {
      @include roboto('md');
      margin: 0;
      margin-right: 0.5em;
      color: $color-4;
    }
    h3 {
      @include roboto('sm');
      margin-right: 0.5em;
      color: $color-5;
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    @if $template == 'two' {
      height: 100%;
    }
    img {
      width: 190px;
      height: 190px;
      border-radius: 50%;
      object-fit: scale-down;
      @if $template == 'two' {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }
    }
  }
}
