@import '../../../main.scss'; //this file will be wheter EventTemplates/main.scss or EventTemplates/main.scss

@import '../../styles.scss'; //this file will be wheter EventTemplates/main.scss or EventTemplates/main.scss

$template: ''; //one or two

.shedule-section {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 3px solid black;
  @if $template == 'two' {
    grid-template-columns: 20% auto;
  }
  @include section;
  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include raleway('md');
    color: $color-2;
  }
}
