@import "../../styles/base";

.Modal {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0000001c;
  top: 0;
  &-container {
    @include cardDasboard;
    max-width: 530px;
    max-height: 212px;
    text-align: center;
  }
  .check-action {
    @include checkButtons;
    justify-content: center;
  }
}
