@import "../../styles/base";

.signCollaborator {
  width: 100%;
  padding: 32px;

  &__container {
    display: grid;
    min-height: 85vh;
    place-items: center;
    @include cardDasboard;
    grid-template-rows: 100px auto;
    max-width: 440px;
    text-align: center;
    margin: 0 auto;
    & h2 {
      color: $color-brand;
      font-family: $font-primary;
      font-size: 24px;
      margin: 0px;
      margin-bottom: $gap-4;
    }
    &-left {
      padding-right: $gap-6;
      padding-right: 64px;
      display: flex;
      flex-flow: wrap;
      align-content: space-between;
      &-edit {
        width: 100%;
        & li {
          display: flex;
          justify-content: space-between;
        }
        & p {
          color: $color-secondary;
        }
      }
    }
    &-right {
      &-collaborates {
        & ul {
          background-color: $color-white;
          border-radius: $gap-2;
          max-height: 74vh;
          min-height: 74vh;
          overflow: scroll;
        }
      }
      &-btn {
        background-color: $color-brand;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: $Shadow-2;
        position: absolute;
        right: 70px;
        bottom: 63px;
      }
    }
  }
}

.submit {
  justify-content: center;
  @include checkButtons;
}

.formCollaborator {
  &-field {
    text-align: center;
  }
  &-container {
    column-gap: $gap-5;
  }
  @include presetsform;
}

#imgEvent {
  display: none;
}
#imgHeader {
  display: none;
}
.buttonAddCollaborator {
  border: none;
  border-radius: 8px;
  color: #fafafa;
  background-color: #f57569;
  width: 124px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__active {
  }
  &--disabled {
    color: #463c3c;
  }
}
