@import "../../styles/base";

.login {
  position: relative;
  display: grid;
  max-width: 440px;
  text-align: center;
  background-color: $color-white;
  &__form {
    padding: $gap-4;
  }
  &__signed-caption {
    margin-top: $gap-2;
    display: flex;
    justify-content: center;
    @include captions();
    a {
      margin-left: 0.5em;
      color: $color-primary;
    }
  }
  &__close {
    position: absolute;
    top: $gap-4;
    right: $gap-4;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  &__button {
    display: flex;
    justify-content: center;
  }
}
